
$orange: #FF6A28;
$breez: #009196;
$dark: #2C2C2C;
$pink: #FF005C;
$green: #1CAA83;
$white: #fff;


$point_0: 1420px;
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;

$font_1: 'Nunito Sans', sans-serif;
$font_2: 'Cormorant', serif;
